.jumbotron {
    margin-bottom: 0px;
    height:320px;
    background-image: url(../img/pig.jpg);
    background-position: 0% 50%;

    background-size: cover;
    background-repeat: no-repeat;
    color: yellow;
    text-shadow: black 0.9em 0.9em 0.9em;
}
p{
  font-size: 17px;
}
body,html{
  height:110%;
}
body{
  background-image: url("../img/coloured.jpg");
  background-position: 0% 48%;
  height:100%;

  background-size: cover;
  background-repeat: no-repeat;

}
h2{
  text-decoration: underline;
}
