
h3{
  font-size: 40px;
  text-decoration: underline;
}
p{
  font-size: 35px;

}
label{
  font-size: 25px;
}
#show{
  display: none;
}

#totalscore1, #total1{
  font-size:50px;
}
#acquiredscore1, #acquired1{
  font-size:50px;
}
#dicevalue1, #dice1, #dice2{
  font-size:50px;
}
#totalscore2, #total2{
  font-size:50px;
}
#acquiredscore2, #acquired2{
  font-size:50px;
}
#dicevalue2, #die1, #die2{
  font-size:50px;
}
#well1{
  background-color:SkyBlue ;
  background-blend-mode: lighten;
}
#well2{
  background-color:LightCoral ;
  background-blend-mode: lighten;
}
body,html{
  height:100%;
}
body{
  background-image: url("../img/bluedice.jpeg");
  background-position: 0% 48%;

  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: Grey 0.9em 0.9em 0.9em;
}
.jumbotron{
  color: greenyellow;
  font-family: sans-serif;
  margin-bottom: 0px;
  height: 260px;

  background-position: 0% 48%;

  background-size: cover;
  background-repeat: no-repeat;
  background-color: DarkSlateBlue;

}
h1{
  font-size: 60px;
  font-weight:400;
}
h2{
  font-size: 35px;
  font-weight:400;
}
h5{
  float:right;
}
